<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dropy | gestor de archivos</title>
	<link href="{{ static_url("css/foundation/normalize.css")}}" rel="stylesheet" >
	<link href="{{ static_url("css/foundation/foundation.min.css")}}" rel="stylesheet" >
	<link href="{{ static_url("css/main.css")}}" rel="stylesheet" >
	<link href="{{ static_url("css/smoothness/jquery-ui-1.10.4.custom.css") }}" rel="stylesheet">
	<script src="{{ static_url("js/jquery-1.10.2.js") }}"></script>
	<script src="{{ static_url("js/jquery-ui-1.10.4.custom.js") }}"></script>
</head>
<body>
	<div class="row" >
		<div class="small-12 large-12 column text-center m100">
			<h1>Dropy | Gestor de Archivos</h1>			
		</div>
		<div class="small-12 large-12 column text-center m50" >
			<a href="/login" class='button'>iniciar sesion</a>
		</div>
	</div>
</body>
</html>