<html>
	<head>
		<title>Please Log In</title>
		<meta charset="UTF-8">
		<title>Dropy | gestor de archivos</title>
		<link href="{{ static_url("css/foundation/normalize.css")}}" rel="stylesheet" >
		<link href="{{ static_url("css/foundation/foundation.min.css")}}" rel="stylesheet" >
		<link href="{{ static_url("css/main.css")}}" rel="stylesheet" >
	</head>
	<body>
		<form action="/login" method="POST" class='m50'> 
			<div class="row">
				<div class="small-12 column text-center">
					<h1 class="subheader">
						Iniciar Sesion
					</h1>
				</div>
			</div>
			<fieldset class="row">
				<div class='small-12 column'>
					<label>
						Usuario
						<input type="text" name="user" />
					</label>
				</div>
				<div class='small-12 column'>
					<label>
						Clave
						<input type="password" name="pass" />
					</label>
				</div>	
				<div class='small-12 column text-center'>
					<input class="button success radius" type="submit" value="Enviar">
					<input class="button alert radius" type="reset" value="Cancelar">
				</div>			
			</fieldset>  		    
		</form>
	</body>
</html>