<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User</title>
	<link href="{{ static_url("css/smoothness/jquery-ui-1.10.4.custom.css") }}" rel="stylesheet">
	<script src="{{ static_url("js/jquery-1.10.2.js") }}"></script>
	<script src="{{ static_url("js/jquery-ui-1.10.4.custom.js") }}"></script>
</head>
<body>
	hola {{ user }}
	<form enctype="multipart/form-data" action="/upload" method="post">
		<input type="file" name="file" required>
		<input type="hidden" name='user' value="{{user}}" >
		<input type="hidden" name='user_id' value="{{user_id}}" >
		<input type="text" name='datepicker' id='datepicker' required readonly>
		<input type="submit" value="Subir">
		<input type='reset' value='Cancelar'>
	</form>
	<br><br>
	<a href="/logout">salir</a>
	<form method='POST' action='/getfiles'>
		<input type="hidden" name='user' value="{{user}}" >
		<input type="hidden" name='user_id' value="{{user_id}}" >
		<input type='submit' value='Listar archivos'>
	</form>
	<script type="text/javascript">
		$(document).on('ready',function(){
			$("#datepicker").datepicker()
			$("#datepicker").datepicker("option","dateFormat","yy-mm-dd")
		})
	</script>
</body>
</html>