<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User</title>
	<link href="{{ static_url("css/smoothness/jquery-ui-1.10.4.custom.css") }}" rel="stylesheet">
	<script src="{{ static_url("js/jquery-1.10.2.js") }}"></script>
	<script src="{{ static_url("js/jquery-ui-1.10.4.custom.js") }}"></script>
</head>
<body>
	hola {{ user }}
	<form enctype="multipart/form-data" action="/upload" method="post">
		<input type="file" name="file">
		<input type="hidden" name='idol' value="{{user}}" >
		<input type="submit" value="subir">
		<input type="text" name='days' >
	</form>
	<br><br>
	<a href="/logout">salir</a>
</body>
</html>