<html>
<head>
	<title>Mi lista de archivos</title>
	<script src="{{ static_url("js/jquery-1.10.2.js") }}"></script>
	<link href="{{ static_url("css/foundation/normalize.css")}}" rel="stylesheet" >
	<link href="{{ static_url("css/foundation/foundation.min.css")}}" rel="stylesheet" >	
	<link href="{{ static_url("css/main.css")}}" rel="stylesheet" >
</head>
<body>	
	<header class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name"><h1><a href="/">Dropy</a></h1></li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
				<li class="toggle-topbar menu-icon"><a href="/"><span></span></a></li>
			</ul>
			<section class="top-bar-section"> 
				<ul class="right">
					<li class="active">
						<a href="/getfiles">Subir Archivos</a>
					</li>
					<li>
						<a href="#">Crear Carpeta</a>
					</li>
					<li >
						<a href="/logout">Salir</a>						
					</li>
				</ul> 
			</section>
		</nav>
	</header>	
	<section>
		<header class="row">
			<div class="small-12 column text-center">
				<h1 class="subheader m50">Mi lista de archivos</h1>
			</div>
		</header>
		<div class="row">
			<div class='small-12 column'>
				<ul class="square">
					<div class="small-2 column">.</div>
					<div class="small-8 column">
						{% for file in files%}
							<li class="m20" data-dropdown="">
								<a href="/{{user}}/{{file.name}}">{{file.name}}</a>
								<span> created: {{file.hired_on}}</span>
								<span>expiration: {{file.expiration}}</span>					
							</li>	
						{%end%}
					</div>
					<div class="small-2 column">.</div>
				</ul>
			</div>
		</div>

	</section>
	<script type="text/javascript" src="{{ static_url("js/foundation/foundation.min.js") }}" ></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>